

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 30px;
}

.container {
    width: 30rem;
    height: 80%;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    border-radius: 19px;
    background-color: white;
    box-shadow: 0 0 2px rgba(15,15,15,0.28);
    position: relative;
    overflow: hidden;
}

.backDrop {
    width: 260%;
    height: 550px;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    -webkit-transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    transform: rotate(160deg);
    top: -450px;
    left: -300px;
    background: rgb(0,120,215);
    background: linear-gradient(
            53deg,
            rgba(0,120,215,1) 39%,
            rgba(23,211,255,1) 100%
    );

}

.container-top {
    width: 100%;
    height: 200px;
}

.container-title{
    width: 100%;
    diplay: flex;
    flex-direction: column;
}

h2{
    font-size: 30px;
    /*font-family: "Poppins";*/
    line-weight: 600;
    line-height: 1.2;
    color: white;
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 25px;

}
Card {

}

.container-item {
    width: 80%;
    margin: 1rem 10%;
}


.container label, .container input {
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    margin: 0;
    box-sizing: border-box;
}

.container input {
    border: none;
    border-bottom: 2px solid #ccc;
}

.container input:focus {
    outline: none;
    border-bottom-color: #61dafb;
}

.container-error {
    color: red;
}

button {
    margin: 1rem 10% 0 10%;
    padding: 0.5rem 2rem;
    background-color: #61dafb;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #61dafb;
}

button:hover {
    box-shadow: 2px 2px 5px #b5b1b1;
}

button:disabled:hover {
    cursor: not-allowed;
}

button:focus {
    outline: none;
}

.container-footer {
    color: black;
    margin: 1rem auto;
}

.container-footer a{
    color: #61dafb;
    cursor: pointer;
    text-decoration: none;
}

input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
    display: block;
    font-size: .875rem;
    color: #27272a;
    height: 45px;
    margin: 8px 0 20px;
    padding: 0.625rem 0.875rem 0.75rem;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    box-shadow: 0 0 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff !important;
    transition: none;
}


@media (max-width: 30rem) {
    .container {
        width: 100%;
        box-sizing: border-box;
        box-shadow: none;
    }
}
