.card-container {
  width: 100%;
}

.card {
  width: 100%;
  margin-bottom: 10px;
}

.doctor-select-button {
  
}

.doctor-side {
  float: right;
  text-align: center;
}

.patient-box{
  
  margin-bottom: 10px;
}