.role-outer.container {
    padding: 10px;
    background-color: #376975;
  }
  
  .todays-new-title {
    font-size: x-large;
    padding-bottom: 0px;
    font-weight: 700;
  }
  
  .request-container {
    padding-bottom: 10px;
  }
  