.patientInfoCard {
    /* background: rgb(37, 150, 190); */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
  
    background: #005871;
    margin: 5px;
    border: 2px solid black;
    width: 99%;
    padding: 10px;
    border-radius: 10px;
    color:white;
  }
  
  .patientInfoCard div{
    width: 18%;
    display:block;
    word-break: break-all;
  }