.home-outer.container{
    padding: 10px;
    background-color: #376975;
}

.home-img {
    justify-content: center;
    width: 500px !important;
}

.todays-new-title{
    font-size: x-large;
    padding-bottom: 0px;
}